.homePage{ 
    position: relative;
    width: 1512px;
    height: 982px;
    
    background: #FFFFFF;
}

.leftRectangle{
    position: absolute;
    width: 538px;
    height: 982px;
    left: 0px;
    top: 0px;

    background: #00BFA5;
}  

.rightRectangle{
    position: absolute;
    width: 974px;
    height: 982px;
    left: 538px;
    top: 0px;

    background: #E0F2F1;
}

.pageTitle{
    position: absolute;
    width: 745px;
    height: 90px;
    left: -136px;
    top: 0px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 87px;
    text-align: center;

    color: #FFFFFF;
}

.pageDescription{
    position: absolute;
    width: 452px;
    height: 306px;
    left: 43px;
    top: 311px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 48px;

    color: #FFFFFF;
}

.getStarted{
    position: absolute;
    width: 317px;
    height: 46px;
    left: 867px;
    top: 205px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 48px;
    text-align: center;

    color: #000000;
}

.student{
    position: absolute;
    width: 317px;
    height: 46px;
    left: 598px;
    top: 349px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.newComer{
    position: absolute;
    width: 317px;
    height: 46px;
    left: 1122px;
    top: 349px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}