.landingContainer {
  position: relative;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: 4%;
}

.landingInfo {
  width: 35%;
  float: left;
  margin-top: 130px;
}

.landingInfo h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landingInfo p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landingInfo button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: RGB(0, 191, 166);
}

.landingImg {
  width: 50%;
  float: right;
  margin-top: 35px;
}

.landingImg img {
  max-width: 100%;
}
