.landingContainer {
  position: relative;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: 4%;
}

.landingInfo {
  width: 35%;
  float: left;
  margin-top: 130px;
}

.landingInfo h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landingInfo p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landingInfo button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: RGB(0, 191, 166);
}

.landingImg {
  width: 50%;
  float: right;
  margin-top: 35px;
}

.landingImg img {
  max-width: 100%;
}
.landingContainer {
  position: relative;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: 4%;
}

.landingInfo {
  width: 35%;
  float: left;
  margin-top: 130px;
}

.landingInfo h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landingInfo p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landingInfo button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: RGB(0, 191, 166);
}

.landingImg {
  width: 50%;
  float: right;
  margin-top: 35px;
}

.landingImg img {
  max-width: 100%;
}

/* .homePage {
  position: relative;
  width: 1512px;
  height: 982px;

  background: #ffffff;
}

.leftRectangle {
  position: absolute;
  width: 538px;
  height: 982px;
  left: 0px;
  top: 0px;

  background: #00bfa5;
}

.rightRectangle {
  position: absolute;
  width: 974px;
  height: 982px;
  left: 538px;
  top: 0px;

  background: #e0f2f1;
}

.pageTitle {
  position: absolute;
  width: 745px;
  height: 90px;
  left: -136px;
  top: 0px;

  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 87px;
  text-align: center;

  color: #ffffff;
}

.pageDescription {
  position: absolute;
  width: 452px;
  height: 306px;
  left: 43px;
  top: 311px;

  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;

  color: #ffffff;
}

.getStarted {
  position: absolute;
  width: 317px;
  height: 46px;
  left: 867px;
  top: 205px;

  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.student {
  position: absolute;
  width: 317px;
  height: 46px;
  left: 598px;
  top: 349px;

  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
}

.newComer {
  position: absolute;
  width: 317px;
  height: 46px;
  left: 1122px;
  top: 349px;

  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
} */
